body{
    background-color: lightyellow;
}
#nav{
    display: flex;
    justify-content:space-between;
    position:relative;
    padding:0 5vw;
    align-content: center;
    

}

.logo img{
    width: 50%;
    border-radius: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
font-family:fantasy;
list-style: none;
margin-left: 3vw
}   



#herospace{
    width: 100vw;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#herospace p{
    font-weight: bold; 
    width: 30vw;
    text-align: justify;
    

}
#img {
    width: 376px;
}
#img img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
h1{
    font-weight: bold; 
    font-family: fantasy;
    font-size: 40px;
}

#workspace{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;  
    
}

h3{
    font-weight: bold; 
    font-family: fantasy;
    font-size: 35px;
}
  
.newClass{
    width: 40vw;
}
#workspace .newClass h3{
    
    align-items: center;
    margin-left: 100px;
    color:black; 
    font-weight: bold; 
    font-family: fantasy;
    font-size: 35px;
    
    
}
#workspace p{
    
    margin-left: 100px; 
}
#workspace button{
    display: inline-block;
    margin-left: 100px; 
    background-color:lightpink;
}

.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightseagreen;
    row-gap: 20px;
    column-gap: 20px;
    padding: 0 5vw;
}
.grid-item{
    display: relative;
}

.grid-container h3{    
    width: 100%;
    left: 0; 
    color:black; 
    font-weight: bold; 
    font-family: fantasy;
    font-size: 40px;
    line-height: 50px;
    margin-right: 5%;
    margin: 5%;
    z-index: 3
}  
.skill2 img{
    height: 236px;
    width: auto;
}
footer{
    position: relative;
    display: flex;
    margin-top: 40px;
    background-color: mediumvioletred;
}
footer ul li {
    display: inline-block;
    justify-content:space-around;
    font-family: fantasy;
    margin-right: 150px;
    margin-left: 100px;
    color: white;
    list-style: none;
    }   