head{
    display: flex;
    vertical-align: top;
}
#nav{
    display: flex;
    justify-content:space-between;
    position:relative;
    
}

.logo{
    width: 10%;
    vertical-align: middle;
    margin-right: 1mv;
}

nav ul li{
vertical-align: middle;
font-family:fantasy;
list-style: none;
display: inline-block;
margin-left: 100px;
}   

body{
    background-color: lightyellow;
}

#herospace{
    width: 60vw;
    margin-left: 15vw;
    display: grid;
    justify-items: center;

}
#herospace p{
    font-weight: bold; 
    width: 30vw;
    margin-left: 11vw;
    
}
#img img{
    padding: 1px 20vw;
    width: 50%;
    border-radius: 50%;
}
h1{
    font-weight: bold; 
    font-family: fantasy;
    font-size: 40px;
}

#workspace{
    display: flex;  
    
}

h3{
    font-weight: bold; 
    font-family: fantasy;
    font-size: 35px;
}

.work1 .work2 .work3{
    width: 10vw;
    padding-top: 10vw;
    
}
.newClass{
    width: 40vw;
}
#workspace h3{
    
    align-items: center;
    margin-left: 100px;
    color:black; 
    font-weight: bold; 
    font-family: fantasy;
    font-size: 35px;
    
    
}
#workspace p{
    
    margin-left: 100px; 
}
#workspace button{
    display: inline-block;
    margin-left: 100px; 
    background-color:lightpink;
}

.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}
.grid-item{
    display: relative;
}
.skill2{
    width: ;
}
.grid-container h3{    
    width: 100%;
    left: 0; 
    color:black; 
    font-weight: bold; 
    font-family: fantasy;
    font-size: 40px;
    line-height: 50px;
    margin-right: 5%;
    margin: 5%;
    z-index: 3
}  

footer{
    position: relative;
    display: flex;
    margin-top: 40px;
    background-color: mediumvioletred;
}
footer ul li {
    display: inline-block;
    justify-content:space-around;
    font-family: fantasy;
    margin-right: 150px;
    margin-left: 100px;
    color: white;
    list-style: none;
    }   